@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap');
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

main{
    width: 100vw;
    height: 100vh;
    background: #f7766d;
    background-image: url('./assets/bg-image.png');
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.left-side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    color: white;
    padding-right: 6%;
}

.left-side h1{
    margin: 0%;
    width: 30rem;
    font-size: 50px;
    font-weight: 700px;
    line-height: 3rem;
}

.left-side p{
    width: 30rem;
    line-height: 1.4rem;
}

.right-side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 6%;
}

form{
    width: 30rem;
    height: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1.5rem;
    border-radius: 5px;
    padding: 1rem 1rem 1rem 1rem;
    box-shadow: 0px 4px 4px #574d4ce0;
}

input{
    padding: 0.9rem;
    width: 95%;
    border-radius: 5px;
    border: 1px solid #817f7f;
    outline: none;
    font-size: large;
    cursor: pointer;
}
form button{
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 1rem;
    width: 95%;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 0px 4px 4px #574d4ce0;
}

label{
    font-size: 10px;
    margin-top: -1%;
    color: #807272;
}

a{
    color: rgba(255, 0, 0, 0.596);
    text-decoration: none;
}
.trier-btn{
    width: 71%;
    border-radius: 5px;
    border: none;
    padding: 1rem;
    font-weight: bold;
    color: white;
    background-color: rgb(119, 55, 221);
    cursor: pointer;
    box-shadow: 0px 4px 4px #574d4ce0;
}

@media only screen and (min-width:320px) and (max-width: 425px) {
    main{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .left-side{
        width: 100%;
        height: 40%;
        padding-top: 5rem;
    }

    .left-side h1{
        font-size: 1.7rem;
        width: 90%;
        line-height: 1.5rem;
        padding-left: 1rem;
    }

    .left-side p{
        margin: 0px auto;
        width: 90%;
        padding: 1rem 0px 0px 1rem;
        line-height: 17px;
        font-size: small;
    }

    form{
        width: 90%;
        height: auto;
        background-color: white;
    }

    input{
        padding: 0.5rem;
        font-size: small;
        margin: 0.3rem auto;
    }
    form button{
        padding: 0.5rem;
    }

    label{
        margin: 4% auto 0px auto;
        width: 90%;
        font-size: xx-small;
    }
    .trier-btn {
        width: 90%;
    }
}

@media only screen and (min-width: 426px) and (max-width: 768px){
    main{
        width: 100vw;
        display: flex;
    }
    .right-side{
        width: 50%;
        margin-right: 3rem;

    }
    .left-side{
        width: 50%;
    }

    .left-side h1{
        width: 100%;
        font-size: 2rem;
        line-height: 2rem;
        padding-left: 3rem;
    }
    .left-side p{
        width: 100%;
        padding-left: 3rem;
    }

    .trier-btn {
        width:  100%;
    }

    form{
        width: 100%;
    }

    input{
        font-size: small;
        margin: 0rem auto;
    }
}